body {
  font-family: "Roboto", sans-serif;
  background-color: #ffccf6;
}
h1 {
  color: rgb(46, 46, 46);
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Nunito", sans-serif;
}
h3 {
  font-family: "Roboto", sans-serif;
}
.nav-link {
  white-space: nowrap;
}

/*Index*/
.btn-floating {
  border-radius: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.content-divider {
  background-size: contain;
  size: 100%;
}

.jam-current {
  background-color: #3fff95;
}

.carousel-item img {
  object-fit: scale-down;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

.info-borders {
  border-top: solid;
  border-left: solid;
}
.date {
  text-align: end;
  word-wrap: break-word;
}
