header {
  font-family: "Oswald", sans-serif;
}
.header-bg {
  background-color: #3fff95;
  z-index: -2;
}
body {
  background-color: #ffccf6;
}
h1 {
  color: #fff600;
  font-family: "Permanent Marker", sans-serif;
  text-shadow: -5px 5px #fe01d2;
}
h2 {
  font-family: "Oswald", sans-serif;
}
h3 {
  font-family: "Roboto Mono", sans-serif;
}
h4 {
  color: #fff600;
  font-family: "Permanent Marker", sans-serif;
  text-shadow: -2px 2px #fe01d2;
}
p {
  font-family: "Roboto Mono";
  font-size: large;
}
a {
  color: #fe01d2;
}
h1:hover {
  text-shadow: -3px 3px #fe01d2;
}
.header-img {
  z-index: 2;
}
.navbar-brand-img {
  height: 4rem;
}
.navbar {
  background-color: #3fff95;
}
.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pattern-radial-fade {
  mask-image: radial-gradient(ellipse, black, transparent 50%);
  width: 100%;
  height: 100%;
}
.pattern-linear-fade {
  mask-image: linear-gradient(transparent, #fcc2f1, transparent);
  z-index: -1;
}
.pattern-checks-lg {
  color: #fcc2f1;
}
.under {
  z-index: -1;
}
.over {
  z-index: 1;
}
.gradient-divider-top {
  background: linear-gradient(180deg, #3fff95 0%, #ffccf6 100%);
}
.gradient-divider-bottom {
  background: linear-gradient(180deg, #ffccf6 0%, #3fff95 100%);
}
.btn-floating {
  border-radius: 100%;
  padding-left: 12px;
  padding-right: 12px;
}
.sk-btn {
  background-color: white;
  border-color: #fe01d2;
  border-width: 5px;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: -5px 5px #fff600;
  rotate: 5deg;
}
.sk-btn:hover {
  background-color: rgb(205, 205, 205);
  border-color: #fe01d2;
  border-width: 5px;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: -5px 5px #fff600;

  rotate: -5deg;
}
.sk-textbox {
  background-color: #3fff95;
  border-color: #ffccf6;
  border-width: 5px;
  box-shadow: -15px 15px #fff600;
  padding: 2%;
  border-radius: 1rem;
}

.carousel-item img {
  object-fit: scale-down;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

footer {
  background-color: #3fff95;
  padding: 2rem;
}
