header {
  font-family: "Oswald", sans-serif;
  background-color: #3fff95;
}
body {
  background-color: #ffccf6;
}
h1 {
  color: #fff600;
  font-family: "Permanent Marker", sans-serif;
  text-shadow: -5px 5px #fe01d2;
}
h2 {
  font-family: "Oswald", sans-serif;
}
h3 {
  font-family: "Roboto Mono", sans-serif;
}
h4 {
  color: #fff600;
  font-family: "Permanent Marker", sans-serif;
  text-shadow: -2px 2px #fe01d2;
}
p {
  font-family: "Roboto Mono";
  font-size: large;
}
a {
  color: #fe01d2;
}
h1:hover {
  text-shadow: -3px 3px #fe01d2;
}

.nav-link {
  white-space: nowrap;
}

/*Index*/
/* HTML: <div class="3d-zig-zag-edge"></div> */
.zig-zag-3d-edge {
  --s: 72px; /* control the size */
  --a: 120deg; /* control the angle  */
  --d: 20px; /* the depth */

  height: 72px;
  width: 100%;
  background: conic-gradient(
      from calc(180deg - var(--a) / 2) at 50% var(--d),
      #0004,
      #0000 1deg calc(var(--a) - 1deg),
      #0008 var(--a) calc(180deg + var(--a) / 2),
      #0004 0
    )
    50% / var(--s) #ffccf6; /* the main color */
  mask: conic-gradient(
      from calc(180deg - var(--a) / 2) at top,
      #0000,
      #000 1deg calc(var(--a) - 1deg),
      #0000 var(--a)
    )
    50% / var(--s);
}
.btn-floating {
  border-radius: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.sk-textbox {
  background-color: #3fff95;
  border-color: #ffccf6;
  border-width: 5px;
  box-shadow: -15px 15px #fff600;
  padding: 2%;
  border-radius: 1rem;
}

.carousel-item img {
  object-fit: scale-down;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

.info-borders {
  border-top: solid;
  border-left: solid;
}
.date {
  text-align: end;
  word-wrap: break-word;
}
.footer {
  background-color: #3fff95;
}
